{# This file extends from the base template, base.html #}
{% extends "base.html" %}

{# Define the title block, which will be used in the HTML title tag #}
{% block title %}Access Granted{% endblock %}

{# Define the content block, which will be inserted into the base.html template #}
{% block content %}
    <div class="container">
        {# Display a heading for the page #}
        <h1>Top Secret</h1>

        {# Embed a GIF using an iframe, with the source set to a URL from Giphy #}
        <iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

        {# Provide a link to the original GIF on Giphy #}
        <p><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a></p>
    </div>
{% endblock %}

